@{

}

<form action="/Malzemeler/MalzemeCreate">

    <div class="form-group">
        <label for="Marka">Marka:</label>
        <input type="text" name="Marka" type="text" class="form-control" id="Marka" />
    </div>
    <div class="form-group">
        <label for="Model">Model:</label>
        <input type="text" name="Model" type="text" class="form-control" id="Model" />
    </div>
    <div class="form-group">
        <label for="ParcaNo">Parça No:</label>
        <input type="number" name="ParcaNo" type="text" class="form-control" id="ParcaNo" />
    </div>
    <div class="form-group">
        <label for="ÜretimTarihi">Üretim Tarihi:</label>
        <input type="date" name="ÜretimTarihi" type="text" class="form-control" id="ÜretimTarihi" />
    </div>
    <div class="form-group">
        <label for="ÜretimYeri">Üretim Yeri:</label>
        <input type="text" name="ÜretimYeri" type="text" class="form-control" id="ÜretimYeri" />
    </div>
    <div class="form-group">
        <label for="SoketTipi">Soket Tipi:</label>
        <input name="SoketTipi" type="text" class="form-control" id="SoketTipi" />
    </div>
    <div class="form-group">
        <label for="SoketNo">Soket No:</label>
        <input type="number" name="SoketNo" type="text" class="form-control" id="SoketNo" />
    </div>
    <div class="form-group">
        <label for="Fiyat">Fiyat:</label>
        <input name="Fiyat" type="text" class="form-control" id="Fiyat" />
    </div>


    <button type="submit" class="btn btn-lg btn btn-success btn-block text-uppercase">Kaydet</button>
</form>